.hero__header {
  background: $percent_10 url('../images/target_gray.svg;') no-repeat center center;
  border-top: 6rem solid $red;
  border-bottom: 6rem solid $red;
  // No Plumber for this section.
  h1.fit-text {
    @extend %tac;
    @extend %uc;
    color: $white;        
    font-family: $header-font;
    font-size: 15rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: .4;
    margin: 4rem 0;
    span {
      display: block;
    }
  }  
}